*{
	padding: 0;
	margin: 0;
}
#mainScreen{
	width: 500px;
	height: 800px;
	margin: auto;
	position: relative;
	overflow: hidden;	/*超出的背景图隐藏起来*/
}
.bg{
	width: 500px;
	height: 800px;
	position: absolute;
	background-image: url(bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}
#bg2{
	top: -800px;
}
#airplane{
	width:110px ;
	height: 69px;
	position: absolute;
	top: 600px;
	left: 195px;
	background-image: url(airplane.png);
	background-size: cover;
}
.bullet{
	width: 5px;
	height: 10px;
	background-color: yellow;
	position: absolute;
	border-radius: 3px;
}
.tank{
	width: 60px;
	height: 60px;
	background-image: url(tank.png);
	position: absolute;
	background-size: cover;
}
